In [ ]:
# open source
# oops
# interpreter  
# dynamically typed language
# platform independent
"""
this is 
multiline 
comment
"""
def add(a, b):
    return a + b

'\nthis is \nmultiline \ncomment\n'

In [34]:
#variable
#Case sensitive
#varibale must be start with Alphabet
#you can not use special character
#you can not use reserved words
X="7507730786  siddharth"
Name="Sonam"
x=10
name1="Kabir"
asserti=10  
First_Name="Hamza"
print(x)
print(X)
print(Name)
print(name)

10
100
Sonam
Kabir

In [23]:
import keyword

In [32]:
len(keyword.kwlist)

35

In [40]:
#data type

#int
#flaot
#string
#boolean

a=True
b=False
x=10
y=20.5
z="Siddharth"
print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'bool'>

In [43]:
#type casting

x=10
print(float(x))
y=12.5
print(int(y))
name="Sid"
x="10"
print(int(x))

10.0
12
10

In [45]:
x,y,z=12,23,34
print(x)
print(y)
print(z)

12
23
34

In [46]:
#write a programe to swap number

x=10
y=200

temp=x  #10
x=y  #200
y=temp  #10

print(x)
print(y)
# reuired output:
# x=200
# y=10

200
10

In [50]:
#Oprators

# 1.arithmatic opeartor
# 2.Logical operator
# 3.Comparision
# 4.Bitwise operator
# 5.Ternary Opeartor
# 6.Assigenment opeartor


x=10
y=20
z=5

print(x+y) #addition
print(y-x)  #substarction
print(x*y)  #multipication
print(x/y)  #division
print(25%4) #modulus
print(25//4) #flooor division
print(25/4)
print(5**2)

30
10
200
0.5
1
6
6.25
25

In [52]:
#write a programe to swap number

x=10
y=200

x=y-x  #190
y=y-x  #10
x=x+y  #200

print(x)
print(y)

#write a programe to swap number

x,y=y,x
print(x,y)

200
10
10 200

In [56]:
#comparision

x=10
y=20
z=30

print(x==y)
print(x!=y)
print(x>y)
print(y<x)
print(x>=y)
print(x<=y)

False
True
False
False
False
True

In [57]:
# #logical opeartor

# #and or not 

# AND
# IN    IN     OP   NOT

# T     T       T    F
# F     F       F    T
# F     T       F    T
# T     F       F    T


# OR
# IN    IN     OP     NOT

# T     T       T      F
# F     F       F      T
# F     T       T      F
# T     F       T      F


x=True
y=True
z=False

print(x and y)
print(x and z)
print(x or y)
print(x or z)

print(not(x and y))
print(not(x and z))
print(not(x or y))
print(not(x or z))

True
False
True
True
False
True
False
False

In [62]:
x=2
y=10
print(x&y)
print(x|y)
print(~x)
bin(x)
bin(y)

2
10
-3

'0b1010'

In [1]:
print("Hello Good Afternoon")

Hello Good Afternoon

In [21]:
#user input

name=input("Enter your Name")
age=input("Enter your age")
print("Hello Good Afternoon Your Name is :", name," Your age is :",age)
# print("Hello Good Afternoon Your Name is %s Your age is %d"(name,age))
print("Hello Good Afternoon Your Name is {} Your age is {}".format(name,age))
print(f"Hello Good Afternoon Your Name is {name} Your age is {age}")

Enter your Name sid
Enter your age 12

Hello Good Afternoon Your Name is : sid  Your age is : 12
Hello Good Afternoon Your Name is sid Your age is 12
Hello Good Afternoon Your Name is sid Your age is 12

In [34]:
x="Hello Good Afternoon"

print(x[0])

print(x[5])

print(x[-3])

print(x[-1])

print(x[:5])

print(x[6:10])

print(x[::-1])

H

o
n
Hello
Good
noonretfA dooG olleH

In [ ]:

# -5  -4  -3  -2  -1
# H E L L O

# 0 1  2 3 4

In [48]:
# string is immutable

x="*******Hello Good Afternoon*******"

x.lower()
x.upper()
x.replace("Afternoon","Morning")
y=x.lstrip()
y=x.rstrip()
x.strip()
x.strip("*")

'Hello Good Afternoon'

In [64]:
x="Hello-Lets-learn-Python"

new=x.split("-")

In [56]:
x="Hello G"
x.isalpha()

False

In [59]:
x="Hi hello how are you ok fine"
x=x.lower()
x.count("hello")

1

In [63]:
x.endswith("fine")
x="7507730786"
x.isdigit()

True

In [65]:
new

['Hello', 'Lets', 'learn', 'Python']

In [68]:
"-".join(new)

'Hello-Lets-learn-Python'

In [4]:
#control flow structure

if True:
  print("Sahi hai")
age=int(input("enter your age to check eligiblity for vote"))
if age>=18:
    print("You are eligible")
else:
    print("Sorry better luck next time")

Sahi hai

enter your age to check eligiblity for vote 17

Sorry better luck next time

In [5]:
marks=40
if marks>=40:
    print("Pass")
else:
    print("Fail")

Pass

In [7]:
Python=int(input("enter your marks"))
ML=int(input("enter your marks"))
DL=int(input("enter your marks"))
SQL=int(input("enter your marks"))
criteria=40 
if Python>=criteria and ML>=criteria and DL>=criteria and SQL>=criteria:
    print("Pass")
else:
    print("Tumse na ho payega")

enter your marks 39
enter your marks 45
enter your marks 45
enter your marks 45

Tumse na ho payega

In [91]:
# 80-100 A+
# 70-80  A
# 60-70  B
# 50-60  C
# <50    Fail

marks=int(input("enter your marks"))
if marks>=80 and marks <=100:
    print("A+")
elif marks>=70 and marks <=80:
    print("A")
elif marks>=60 and marks <=70:
    print("B")
elif marks>=50 and marks <=60:
    print("C")
else:
    print("Fail")

enter your marks 45

Fail

In [96]:
#

username=input("Username")
password=input("password")

if (username=="Sid" and password=="1234") or username=="Sid" :
    if password=="1234":
        print("Grant")
    else:
        print("Password incorrect")
    # print("Grant")
else:
    # if username=="Sid":
    #     print("Username correct")
    # else:
    #     print("Password incorrect")
    pass

Username Sid
password 123

In [99]:
# child <12  -100
# adult >12 <60 200
# >60 150
print("1. for Child")
print("2. for Adult")
print("3. for Senior Citizen")
x=input("enter your choice")
if x=="1":
    count=int(input("How many child"))
    
    print(f"Your fare is {count*100}")
elif x=="2":
    count=int(input("How many adults"))
    
    print(f"Your fare is {count*200}")
elif x=="3":
    count=int(input("How many Seniores"))
    
    print(f"Your fare is {count*150}")

1. for Child
2. for Adult
3. for Senior Citizen

enter your choice 1
How many child 1

Your fare is 100

In [103]:
x=float(input("enter first number"))
y=float(input("enter first number"))
op=input("enter opeartion to perform : +,-,*,/")

if op=="+":
    print(f"{x}+{y} is {x+y}")
elif op=="-":
    print(f"{x}-{y} is {x-y}")
elif op=="*":
    print(f"{x}*{y} is {x*y}")
elif op=="/":
    print(f"{x}/{y} is {x/y}")
else:
    print("Invalid operation")

enter first number 10
enter first number 20
enter opeartion to perform : +,-,*,/ -

10.0-20.0 is -10.0

In [108]:
#Bill System
# if meter reading is less than 100 then charge 10rs
# if meter reading is greter than 100 and less than 200 then charge 8 rs
# if meter reading is greter than 200 then 6rs 

# 50   500
# 150  1400
# 250  2100

reading=int(input("enter meter reading"))

if reading<=100:
    print(f"your bill is {reading*10}")
elif reading>=100 and reading<=200:
    extra=reading-100
    print(f"your bill is {(1000)+(extra*8)}")
else:
    extra=reading-200
    print(f"your bill is {(1000)+(100*8)+(extra*8)}")

enter meter reading 205

your bill is 1840

In [109]:
#loop

print(1)
print(2)
print(3)
print(4)
print(5)
print(6)
print(7)
print(8)
print(9)
print(10)

1
2
3
4
5
6
7
8
9
10

In [8]:
for i in  range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [111]:
name="Python"
for i in  range(1,11):
    print(name)

Python
Python
Python
Python
Python
Python
Python
Python
Python
Python

In [9]:
name="Python"
for i in name:
    print(i)

P
y
t
h
o
n

In [112]:
name="Python"
for i in name:
    print(name)

Python
Python
Python
Python
Python
Python

In [116]:
n=5
if n%2==0:
    print("Even")
else:
    print("odd")

odd

In [119]:
for i in  range(1,11):
    if i%2==0:
        print("Even,", i)
    else:
        print("odd")

odd
Even, 2
odd
Even, 4
odd
Even, 6
odd
Even, 8
odd
Even, 10

In [123]:
n=int(input("enter a number to genrate table"))
for i in range(1,11):
    print(i,"*","2=",i*n)

enter a number to genrate table 12

1 * 2= 12
2 * 2= 24
3 * 2= 36
4 * 2= 48
5 * 2= 60
6 * 2= 72
7 * 2= 84
8 * 2= 96
9 * 2= 108
10 * 2= 120

In [124]:
for i in range(1,11):
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [128]:
for i in range(1,11):
    print(i ,end="")
    print()

1
2
3
4
5
6
7
8
9
10

In [130]:
# *
# * *
# * *  *
# * *  *  *
# * *  *  * *
for i in  range(1,11):
    print(i*" *")

 *
 * *
 * * *
 * * * *
 * * * * *
 * * * * * *
 * * * * * * *
 * * * * * * * *
 * * * * * * * * *
 * * * * * * * * * *

In [132]:
for i in  range(11,1,-1):
    print(i*" *")

 * * * * * * * * * * *
 * * * * * * * * * *
 * * * * * * * * *
 * * * * * * * *
 * * * * * * *
 * * * * * *
 * * * * *
 * * * *
 * * *
 * *

In [135]:
for i in range(1,10):
    if i==5:
        break
    print(i)

1
2
3
4

In [136]:
for i in range(1,10):
    if i==5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [145]:
n=5

for i in range(2,n): #2 3 4\
    if n%i==0:
        print("Not prime")
        break
     print("Prime")

Prime

In [11]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [12]:
# i=0
# while condition:
#     print(i)


i=1
while i<=10: #11<=10
    print(i)
    i=i+1  #1+1=2+1=3+1=4.....10+1=11

1
2
3
4
5
6
7
8
9
10

In [16]:
username=input("enter your usename")
attempt=1
while attempt<=3:
    if username=="SAT":
        password=input("enter your password")
        if password=="pass":
            print("Valid")
            break
        else:
            print("incorrect password")
        attempt=attempt+1
            
    else:
        print("Incorrect username")
        break

enter your usename sa

Incorrect username

In [17]:
i=1
while i<=10: #11<=10
    if i%2==0:
        print(i,"even")
    else:
        print(i,"odd")
    i=i+1  #1+1=2+1=3+1=4.....10+1=11

1 odd
2 even
3 odd
4 even
5 odd
6 even
7 odd
8 even
9 odd
10 even

In [21]:
# length of password must be 8 character long
# password contain on upper lettter
#password contain one lower letter
#password contain one digit
# password contain one special character

password=input("Enter your password")
special="!@#$%^&()_"
has_upper=False
has_lower=False
has_special=False
has_digit=False

for char in password:
    if char.isupper():
        has_upper=True
    if char.islower():
        has_lower=True
    if char in special:
        has_special=True
    if char.isdigit():
        has_digit=True

if len(password)>=8 and has_upper==True and has_lower==True and has_special==True and has_digit==True:
    print("Your password is valid")
else:
    print("Your password is week")
    if len(password)<8:
        print("Length must be greter than eight character")
    if has_upper==False:
        print("need one upper character")
    if has_lower==False:
        print("need one lower character")
    if has_digit==False:
        print("need one digit")
    if has_special==False:
        print("need one special character")

Enter your password hgffhg

Your password is week
Length must be greter than eight character
need one upper character
need one digit
need one special character

In [23]:
# write a program to calculate sum of digit
#input :123
#ouput:6
# 12345
#output:15

num=input("enter a number")
sum=0
for i in num:
    sum=int(i)+sum
print(sum)

enter a number 123456

21

In [28]:
# write a program to check given number is palindrome
#input :121
#ouput:True
# 12345
#output:False
# 123//10=12

num=int(input("enter a number")) #123
copy=num  #123
reverse=0
digit=0  #3
while num>0: #0>0
    digit=num%10  #1%10=1
    reverse=reverse*10+digit  #0*10+3=3*10+2=32*10+1=321
    num=num//10 #12//10=1//10=0
if copy==reverse:#123==321
    print("Palindrome")
else:
    print("Not a palindrome")

enter a number 121

Palindrome

In [29]:
num=int(input("enter a number")) #123
copy=num  #123
reverse=0
digit=0  #3
while num>0: #1>0
    digit=num%10  #1%10=1
    reverse=reverse*10+digit  #0*10+3=3*10+2=32*10+1=321
    num=num//10 #12//12=1//10=0
print(reverse)

enter a number 123

321

In [31]:

num=int(input("enter a number")) #123
copy=num  #123
reverse=0
digit=0  #3
while num>0: #1>0
    digit=num%10  #1%10=1
    reverse=reverse+digit  #0*10+3=3*10+2=32*10+1=321
    num=num//10 #12//12=1//10=0
print(reverse)

enter a number 123

6

In [85]:
#Data Structure

#list
#tuple
#set
#dictionary

In [33]:
x=[]
x=list()

In [34]:
type(x)

list

In [43]:
age=[22,24,22,23,21,20,21,22]
name=["Kabir","Adwait","mukul","hamza","sonam","amit","ayush"]
height=[5.2,5.1,5.2,5.5,5.6,6.2,5.2,4.5]
mix=["Siddharth",28,5.6]
x=[10,20,30,[1,2,3,[1.1,1.2,1.3]]]

In [45]:
age[3]
name[2]
name[0:4]
x[3][3][1]

1.2

In [47]:
height[-1]=5.5

In [48]:
height

[5.2, 5.1, 5.2, 5.5, 5.6, 6.2, 5.2, 5.5]

In [49]:
name[2]="Mukul"

In [54]:
name
name.append("Siddharth")
name

['Kabir',
 'Adwait',
 'Mukul',
 'hamza',
 'sonam',
 'amit',
 'ayush',
 'Siddharth',
 'Siddharth']

In [57]:
x=[]

x.append("Siddharth")

In [58]:
x

['Siddharth']

In [60]:
name[-1]="Yash"

In [61]:
name

['Kabir',
 'Adwait',
 'Mukul',
 'hamza',
 'sonam',
 'amit',
 'ayush',
 'Siddharth',
 'Yash']

In [64]:
name.insert(3,"Nakul")

In [66]:
name

['Kabir',
 'Adwait',
 'Mukul',
 'Nakul',
 'hamza',
 'sonam',
 'amit',
 'ayush',
 'Siddharth',
 'Yash']

In [67]:
nam2=["Virat","Rohit","Sachin"]
name.extend(nam2)

In [69]:
name

['Kabir',
 'Adwait',
 'Mukul',
 'Nakul',
 'hamza',
 'sonam',
 'amit',
 'ayush',
 'Siddharth',
 'Yash',
 'Virat',
 'Rohit',
 'Sachin']

In [71]:
x=[1,2,3]
y=[11,12,3]
x+y
x*2

[1, 2, 3, 1, 2, 3]

In [75]:
name

name.pop()

'Rohit'

In [76]:
name

['Kabir',
 'Adwait',
 'Mukul',
 'Nakul',
 'hamza',
 'sonam',
 'amit',
 'ayush',
 'Siddharth',
 'Yash',
 'Virat']

In [77]:
name.pop(3)

'Nakul'

In [78]:
name

['Kabir',
 'Adwait',
 'Mukul',
 'hamza',
 'sonam',
 'amit',
 'ayush',
 'Siddharth',
 'Yash',
 'Virat']

In [79]:
name.remove("Siddharth")

In [80]:
name

['Kabir',
 'Adwait',
 'Mukul',
 'hamza',
 'sonam',
 'amit',
 'ayush',
 'Yash',
 'Virat']

In [81]:
name.clear()

In [82]:
name

[]

In [83]:
del name

In [84]:
name

NameError: name 'name' is not defined

In [86]:
age

[22, 24, 22, 23, 21, 20, 21, 22]

In [88]:
for i in age:
    if i>=25:
        print("eligible")
    else:
        print("Not eligible")

Not eligible
Not eligible
Not eligible
Not eligible
Not eligible
Not eligible
Not eligible
Not eligible

In [89]:
#Tuple

x=(10)
print(type(x))

<class 'int'>

In [90]:
x=(10,)
print(type(x))

<class 'tuple'>

In [92]:
x=(10,20,30,45)
name=("pyhton","sql","ml")
mix=("siddharth",28,5.6)

In [96]:
name[2]
name[-1]
name[:]
name[2:]

('ml',)

In [97]:
name[1]="Mysql"

TypeError: 'tuple' object does not support item assignment

In [98]:
del name

In [104]:
x
x=list(x)
x.append(450)
x=tuple(x)

In [105]:
x

(10, 20, 30, 45, 450, 450)

In [106]:
#dictionary

x={}
print(type(x))

<class 'dict'>

In [107]:
x=dict()

In [108]:
info={"Name":"Kabir","Age":22,"Profile":'Mechanical Engg'}

In [109]:
info[0]

KeyError: 0

In [110]:
info["Name"]

'Kabir'

In [111]:
info.get("Name")

'Kabir'

In [112]:
info['Age']

22

In [113]:
info["Name"]="Adwait"

In [114]:
info

{'Name': 'Adwait', 'Age': 22, 'Profile': 'Mechanical Engg'}

In [116]:
info={"Name":["Kabir","Yash","Ayush"],"Age":[22,22,22],"Profile":['Mechanical Engg',"M.SC","B.Com"]}

In [118]:
info["Name"][1]

'Yash'

In [119]:
info["Name"][1]="Adwait"

In [120]:
info

{'Name': ['Kabir', 'Adwait', 'Ayush'],
 'Age': [22, 22, 22],
 'Profile': ['Mechanical Engg', 'M.SC', 'B.Com']}

In [122]:
info.update({"Name":"Sonam"})

In [123]:
info

{'Name': 'Sonam',
 'Age': [22, 22, 22],
 'Profile': ['Mechanical Engg', 'M.SC', 'B.Com']}

In [124]:
info.update({"Name":['Kabir', 'Adwait', 'Ayush',"Sonam"]})

In [125]:
info

{'Name': ['Kabir', 'Adwait', 'Ayush', 'Sonam'],
 'Age': [22, 22, 22],
 'Profile': ['Mechanical Engg', 'M.SC', 'B.Com']}

In [126]:
info.keys()

dict_keys(['Name', 'Age', 'Profile'])

In [127]:
info.values()

dict_values([['Kabir', 'Adwait', 'Ayush', 'Sonam'], [22, 22, 22], ['Mechanical Engg', 'M.SC', 'B.Com']])

In [128]:
info.items()

dict_items([('Name', ['Kabir', 'Adwait', 'Ayush', 'Sonam']), ('Age', [22, 22, 22]), ('Profile', ['Mechanical Engg', 'M.SC', 'B.Com'])])

In [130]:
info.pop("Name")

['Kabir', 'Adwait', 'Ayush', 'Sonam']

In [131]:
info

{'Age': [22, 22, 22], 'Profile': ['Mechanical Engg', 'M.SC', 'B.Com']}

In [132]:
info.popitem()

('Profile', ['Mechanical Engg', 'M.SC', 'B.Com'])

In [133]:
info

{'Age': [22, 22, 22]}

In [134]:
info.clear()

In [135]:
info

{}

In [136]:
del info

In [137]:
info

NameError: name 'info' is not defined

In [138]:
info={"Name":["Kabir","Yash","Ayush"],"Age":[22,22,22],
      "Profile":{'Mechanical Engg':1,"M.SC":2,"B.Com":3}}

In [139]:
#set 

x={}
print(type(x))

<class 'dict'>

In [140]:
x=set()
print(type(x))

<class 'set'>

In [141]:
x={10,20,30,40,50,30,40}

In [142]:
x

{10, 20, 30, 40, 50}

In [143]:
x[0]

TypeError: 'set' object is not subscriptable

In [145]:
x.add(110)

In [146]:
x

{10, 20, 30, 40, 50, 110}

In [147]:
x.remove(110)

In [148]:
x

{10, 20, 30, 40, 50}

In [149]:
#union
#intersection
#difference

x={1,2,3,4,5}
y={10,20,30,40}
x.union(y)

{1, 2, 3, 4, 5, 10, 20, 30, 40}

In [151]:
x={1,2,3,40,5}
y={10,20,30,40}
x.intersection(y)

{40}

In [153]:
x={1,2,3,40,5}
y={10,20,30,40}
x.difference(y)
y.difference(x)

{10, 20, 30}

In [154]:
x=[10,20,30,40,50]
for i in x:
    print(i)

10
20
30
40
50

In [155]:
x=(10,20,30,40,50)
for i in x:
    print(i)

10
20
30
40
50

In [156]:
info={"Name":["Kabir","Yash","Ayush"],"Age":[22,22,22],"Profile":['Mechanical Engg',"M.SC","B.Com"]}

for key in info.keys():
    print(key)

Name
Age
Profile

In [157]:
for key in info.values():
    print(key)

['Kabir', 'Yash', 'Ayush']
[22, 22, 22]
['Mechanical Engg', 'M.SC', 'B.Com']

In [159]:
for key,value in info.items():
    print(key)
    print(value)

Name
['Kabir', 'Yash', 'Ayush']
Age
[22, 22, 22]
Profile
['Mechanical Engg', 'M.SC', 'B.Com']

In [162]:
x=[("sid",500),("sidd",5000)]
for i in x:
    print(i[0])

sid
sidd

In [215]:
#add item
#remove Item
#add cart
#checkout
#exit
cart=[]
while True:
    print("\n====Shoping Cart Menu=====")
    print("1.Add Items")
    print("2.Remove Items")
    print("3.View Cart")
    print("4.Checkout")
    print("5.Exit")

    choice=input("enter your choice (1-5)")

    if choice=="1":
        Item=input("Enter Item Name")
        price=float(input("Enter item price"))
        cart.append((Item,price))
        print("Item added")
    elif choice=="2":
        Item=input("Enter Item Name")
        for i in cart:
            if i[0]==Item:
                cart.remove(Item)
            else:
                print("Item not Found in cart")
    elif choice=="3":
        if not cart:
            print("Cart is empty")
        else:
            for i,(Item,price) in enumerate(cart,1):
                print(f"{i}.{Item}----{price}")
    elif choice=="4":
        total=0
        for Item,price in cart:
            total=total+price
        
        print("checkout itmes")
        for Item,price in cart:
            print(f"{Item}----{price}")
        print(f"Final Amount:{total}")
    elif choice=="5":
        print("Thank you for choosing Our product and Services")
    break

====Shoping Cart Menu=====
1.Add Items
2.Remove Items
3.View Cart
4.Checkout
5.Exit

enter your choice (1-5) 5

Thank you for choosing Our product and Services

In [217]:
x="I Love Python Python is very Simple Language"
#write a programe to count each word in sentance

word=x.split()
count={}

for i in word:
    if i in count:
        count[i]+=1
    else:
        count[i]=1
print(count)

{'I': 1, 'Love': 1, 'Python': 2, 'is': 1, 'very': 1, 'Simple': 1, 'Language': 1}

In [ ]:
name=["Sonam","Adwait","Ayush","Hamja","Kabir","Yash","Amit","Mukul"]
age=[22,22,22,22,22,22,22,22]
# write a program to make dictionary using two lists

In [220]:
#comphrehension
x=[]
for i in range(1,10):
    x.append(i)
x

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [225]:
[i for i in range(1,10)]
[i for i in range(1,10) if i%2==0]
[i**2 for i in range(1,10)]
[i for i in range(1,10) if i%2!=0]
["even" if i%2==0 else "odd" for i in range(1,10)]

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd']

In [226]:
#def funaction_name(parameter):
     #docstring
     #function

def greet():
    return f"Welcome to Python"

In [227]:
greet()

'Welcome to Python'

In [228]:
def greet(name):
    return f"Hey hi {name},Welcome to Python"

In [230]:
greet("Siddharth")

'Hey hi Siddharth,Welcome to Python'

In [231]:
def two_sum(x,y):
    """
    This function is used to add two numbers
    for ex. two_sum(1,2)
    output:3
    """
    return x+y

In [235]:
two_sum(1,2)

3

In [236]:
def even_odd(n):
    if n%2==0:
        print("even")
    else:
        print("odd")

In [238]:
even_odd(10)

even

In [239]:
def add(x,y):
    return x+y

add(y=10,x=20)

30

In [241]:
def add(x=0,y=0):
    return x+y

In [242]:
add(y=10,x=20)

30

In [243]:
add()

0

In [246]:
def add(*args):
    x=0
    for i in args:
        x=x+i
    return x

In [250]:
add()

0

In [256]:
def info(**kwargs):
    for key ,value in kwargs.items():
        print(f"{key} and {value}")

In [257]:
info(Name="Siddharth",Age=28)

Name and Siddharth
Age and 28

In [258]:
def factorial(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [259]:
factorial(5)

120

In [262]:
# 0 1 1 2 3 5 8 13
def fibonacci(n):
    n1=0
    n2=1
    for i in range(0,n):
        print(n1,end=" ")
        n1,n2=n2,n1+n2

In [264]:
fibonacci(10)

0 1 1 2 3 5 8 13 21 34

In [267]:
def outer():
    def inner():
        print("hey hi am inner function")
    return inner()

In [268]:
outer()

hey hi am inner function

In [269]:
def div(x,y):
    return x/y

In [270]:
div(2,4)

0.5

In [271]:
def smart_div(func):
    def inner(x,y):
        if x<y:
            x,y=y,x
        return func(x,y)
    return inner

In [273]:
@smart_div
def div(x,y):
    return x/y

In [274]:
div(2,4)

2.0

In [275]:
def greet():
    print("before")

In [276]:
def smart_greet(func):
    print("Good Morning")
    func()
    print("Good Bye")

In [278]:
@smart_greet
def greet():
    print("before")

Good Morning
before
Good Bye

In [1]:
#Lamda

def add(x,y):
    return x+y

In [2]:
add(2,3)

5

In [3]:
add=lambda x,y:x+y
print(add(1,2))

3

In [4]:
x=lambda x:int(x)
print("10")

10

In [6]:
even=lambda x:x%2==0
print(even(3))

False

In [13]:
# higher order function

def even_odd(n):
    if n%2==0:
        return("Even")
    else:
        return("Odd")

In [14]:
x=[1,82,3,4,5,6,7,8,9,10]

In [15]:
print(list(map(even_odd,x)))

['Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [16]:
name_list=[]

In [27]:
name=list(map(str,input().split(",")))

 x,y

In [29]:
print(list(map(int,input().split(","))))

 10,20,30,40

[10, 20, 30, 40]

In [34]:
x=[12,23,21,3,4,4,5,6]

print(list(map((lambda x:x%2==0),x)))

[True, False, False, False, True, True, False, True]

In [37]:
x=[12,23,21,3,4,4,5,6]
list(filter((lambda x:x%2==0),x))

[12, 4, 4, 6]

In [39]:
name=["Sonam","Adwait","Ayush","Hamja","Kabir","Yash","Amit","Mukul"]

list(filter(lambda x:x.startswith("H"),name))

['Hamja']

In [40]:
#reduce
from functools import reduce

In [45]:
x=[12,23,21,3,4,4,5,6]
reduce((lambda x,y:x%y),x)

0

In [49]:
#file handling

file=open("Demo.txt","r")
file.read()
file.close()

In [56]:
file=open("Demo.txt","r")
print(file.readline())
file.close()

"Hello Good Morning"

In [52]:

file=open("Demo.txt","r")
for line in file:
    print(line)
file.close()

"Hello Good Morning"

Hello How are You?

I am fine.

Ok Bye

In [55]:
file=open("Demo.txt","r")
print(file.readlines())
file.close()

['"Hello Good Morning"\n', 'Hello How are You?\n', 'I am fine.\n', 'Ok Bye']

In [57]:
file=open("Saturday.txt","w")
file.write("Hello Good Afternoon Saturday")
file.close()

In [60]:
file=open("Saturday.txt","r")
print(file.read())
file.close()

Hello Good Afternoon Saturday

In [61]:
file=open("Saturday.txt","w")
print(file.write("/n This is second line"))
file.close()

22

In [62]:
file=open("Saturday.txt","r")
print(file.read())
file.close()

/n This is second line

In [71]:
file=open("Sunday.txt","a")
file.write("Hello Good Afternoon Saturday\n")
file.close()

In [72]:
file=open("Sunday.txt","a")
print(file.write("\n This is second line"))
file.close()

21

In [73]:
file=open("Sunday.txt","r")
print(file.read())
file.close()

 This is second lineHello Good Afternoon Saturday
 This is second lineHello Good Afternoon Saturday

 This is second line

FileNotFoundError: [Errno 2] No such file or directory: 'Desk.txt'

In [75]:
with open("sunday.txt","r")as file:
    print(file.read())

 This is second lineHello Good Afternoon Saturday
 This is second lineHello Good Afternoon Saturday

 This is second line

In [84]:
#Exception Handling
count=0
for i in range(2,100):#
print("Hello")
    for j in range(2,i+1):#
        if i%j==0:#
            break
        else:
            count=count+1
            break
print(count)

IndentationError: expected an indented block after 'for' statement on line 3 (1940641168.py, line 4)

In [86]:
x=int(input("enter a number"))
y=int(input("enter a number"))
print(x/y)

enter a number 10
enter a number 0

ZeroDivisionError: division by zero

In [95]:
try:
    x=int(input("enter a number"))
    y=int(input("enter a number"))
    print(x/y)
except ZeroDivisionError:
    print("You can not divide number with zero")
except ValueError:
    print("enter only numerical value")

enter a number 10
enter a number a

Bye

ValueError: invalid literal for int() with base 10: 'a'

In [96]:
def set(age):
    if age < 0:
        raise ValueError("Age cannot be negative.")
    print(f"Age set to {age}")

try:
    set(-5)
except ValueError as e:
    print(e)

Age cannot be negative.

In [98]:
try:
    file=open("Desk.txt","r")
    print(file.read())
    file.close()
except FileNotFoundError:
    print("Unable to find this file")

Unable to find this file

In [100]:
file=open("C:\\Users\\CM617YH\\OneDrive - EY\\Desktop\\Desk.txt","r")
print(file.read())
file.close()

Kuch toh bhi

In [101]:
#Recursion

def fib(n):
    fact=1
    for i in range(1,n+1):
        fact=fact*i
    return fact

In [102]:
fib(5)

120

In [104]:
def factorial(n):
    if n<=1:
        return 1
    else:
        return n*factorial(n-1)

factorial(5)

120

In [117]:


def fibonacci_recursive(n):
    """Calculates the nth Fibonacci number using a simple recursive approach."""
    if n <= 1:
        return n
    else:
        return fibonacci_recursive(n - 1) + fibonacci_recursive(n - 2)

# Example usage
print(fibonacci_recursive(10)) # Returns 55. Note: This assumes F(0)=0 and F(1)=1.

55

In [115]:
# f(5)
# = f(4) + f(3)
# = (f(3) + f(2)) + (f(2) + f(1))
# = ((f(2) + f(1)) + (f(1) + f(0))) + ((f(1) + f(0)) + f(1))
# = (((1 + 0) + 1) + (1 + 0)) + ((1 + 0) + 1)
# = (2 + 1) + (1 + 1)
# = 3 + 2
# = 5

5

In [121]:
x=[10,202,34,2,3,4,2,4,4,4,4,4,4]
maxi=0
for i in x:
    if i>maxi:
        maxi=i
print(maxi)

maxi=0
for i in x:
    if i<maxi:
        maxi=i
print(maxi)

202
0

In [3]:
import numpy as np


x=[10,20,30,40,50,150]

np.quantile(x,0.25)
np.quantile(x,0.75)

def outlier(x):
    out=[]
    Q1=np.quantile(x,0.25)
    Q3=np.quantile(x,0.75)

    IQR=Q3-Q1
    upper=Q3+(1.5*IQR)
    lower=Q1-(1.5*IQR)

    for i in x:
        if i>upper or i<lower:
            out.append(i)
    return out

In [6]:
x=[10,20,30,40,50,150]
y=[2.6,3,4.9,5,5,6,6,7.9,8,8.2,67]
outlier(x)
outlier(y)

[67]

In [9]:
def outlier_remove(x):
    out=[]
    Q1=np.quantile(x,0.25)
    Q3=np.quantile(x,0.75)

    IQR=Q3-Q1
    upper=Q3+(1.5*IQR)
    lower=Q1-(1.5*IQR)

    for i in x:
        if i<upper and i>lower:
            out.append(i)
    return out

In [10]:
outlier_remove(x)

[10, 20, 30, 40, 50]

In [11]:
import numpy as np
from scipy import stats

# Example: One-sample t-test
# Null Hypothesis (H0): The mean weight of children is 32kg.
# Alternative Hypothesis (H1): The mean weight of children is not 32kg.

# Sample data
data = np.array([30, 31, 33, 35, 29, 32, 34, 30, 31, 33])
expected_mean = 32

# Perform one-sample t-test
t_statistic, p_value = stats.ttest_1samp(data, expected_mean)

print(f"T-statistic: {t_statistic}")
print(f"P-value: {p_value}")

# Conclusion based on p-value (e.g., significance level alpha = 0.05)
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis. There is significant evidence that the mean weight is not 32kg.")
else:
    print("Fail to reject the null hypothesis. There is not enough evidence to conclude that the mean weight is different from 32kg.")

T-statistic: -0.3273268353539874
P-value: 0.750905868770037
Fail to reject the null hypothesis. There is not enough evidence to conclude that the mean weight is different from 32kg.

In [12]:
from scipy import stats
import numpy as np

# Sample data (e.g., scores before and after an intervention)
before_scores = np.array([75, 80, 82, 78, 85, 88, 79, 81, 83, 86])
after_scores = np.array([80, 85, 85, 80, 87, 90, 82, 84, 86, 89])

# Perform the paired samples t-test
t_statistic, p_value = stats.ttest_rel(after_scores, before_scores, alternative='two-sided') 
# 'two-sided' for H1: means are not equal
# 'less' for H1: mean of 'after' is less than 'before'
# 'greater' for H1: mean of 'after' is greater than 'before'

print(f"Paired Samples t-test:")
print(f"t-statistic: {t_statistic}")
print(f"p-value: {p_value}")

Paired Samples t-test:
t-statistic: 8.907784452556708
p-value: 9.287840695947015e-06

In [13]:
from scipy.stats import f_oneway
import pandas as pd

# Example data
data = {
    'Group_A': [89, 89, 88, 78, 79],
    'Group_B': [93, 92, 94, 89, 88],
    'Group_C': [89, 88, 89, 93, 90]
}

# Perform one-way ANOVA
f_statistic, p_value = f_oneway(data['Group_A'], data['Group_B'], data['Group_C'])

print(f"F-statistic: {f_statistic}")
print(f"P-value: {p_value}")

# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a statistically significant difference between group means.")
else:
    print("Fail to reject the null hypothesis: No statistically significant difference between group means.")

F-statistic: 4.35011990407674
P-value: 0.037952047952377076
Reject the null hypothesis: There is a statistically significant difference between group means.

In [14]:
import scipy.stats as stats
import numpy as np

# Define observed and expected frequencies
observed_data = [8, 6, 10, 7, 8, 11, 9]  # Example observed frequencies
expected_data = [9, 8, 11, 8, 10, 7, 6]  # Example expected frequencies

# Perform the Chi-square Goodness of Fit Test
chi_square_statistic, p_value = stats.chisquare(observed_data, expected_data)

print(f"Chi-square test statistic: {chi_square_statistic}")
print(f"P-value: {p_value}")

# Determine the critical value for comparison (e.g., at 5% significance level, df=len(observed_data)-1)
alpha = 0.05
degrees_of_freedom = len(observed_data) - 1
critical_value = stats.chi2.ppf(1 - alpha, df=degrees_of_freedom)

print(f"Critical value (alpha={alpha}, df={degrees_of_freedom}): {critical_value}")

# Make a decision based on the comparison
if chi_square_statistic > critical_value:
    print("Reject the null hypothesis: There is a significant difference between observed and expected frequencies.")
else:
    print("Fail to reject the null hypothesis: There is no significant difference between observed and expected frequencies.")

# Alternatively, using the p-value
if p_value <= alpha:
    print("Reject the null hypothesis (based on p-value): There is a significant difference.")
else:
    print("Fail to reject the null hypothesis (based on p-value): There is no significant difference.")

Chi-square test statistic: 5.0127344877344875
P-value: 0.542180861413329
Critical value (alpha=0.05, df=6): 12.591587243743977
Fail to reject the null hypothesis: There is no significant difference between observed and expected frequencies.
Fail to reject the null hypothesis (based on p-value): There is no significant difference.